/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  //height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

//input, button, textarea {
//  font-family: 'Inter', sans-serif;
//}
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000000;
}

/*--------------------*/

body {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-style: normal;
  background: #E7F6FF;


  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background: #FFFFFF;
  max-width: 1080px;
  margin: 50px auto;
  min-height: calc(100vh - 100px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 0 40px;
  border-bottom: 2px solid #EAEAEA;

  .headerLeft {
    display: flex;
    align-items: center;

    .headerTitle {
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
    }

    .headerSubTitle {
      font-weight: 400;
      color: #9D9D9D;
    }

    .logo {
      width: 40px;
      height: 40px;
      margin: 0 16px 0 0;
    }
  }

  .headerRight {
    display: flex;
    align-items: center;

    li:not(:last-child) {
      margin: 0 30px 0 0;

      .mmr {
        margin: 0 10px 0 0;
      }

      .hSpan {
        font-weight: 600;
        color: #5C5C5C;
        vertical-align: middle;
      }
    }
  }
}

.content {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 35px;

    h1 {
      font-size: 32px;
      line-height: 39px;
    }

    .search {
      padding: 10px 15px;
      border: 3px solid #F3F3F3;
      border-radius: 10px;


      img {
        margin: 0 10px 0 0;
      }

      input {
        font-size: 16px;
      }
    }
  }

  .store {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;

    .item {
      padding: 15px;
      flex: 0 1 25%;

      .itemContent {
        border: 3px solid #F3F3F3;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        padding: 20px 30px 40px;
        min-height: 100%;
        position: relative;
        transition-duration: 0.2s;

        .like {
          position: absolute;
          height: 32px;
          width: 32px;
          object-fit: cover;
          z-index: 1;

          &:hover {

          }
        }

        .imgBlock {
          height: 0;
          padding-top: 82%;
          position: relative;
          display: block;
          margin: 0 0 12px;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 100%;
            max-width: 100%;
          }
        }

        .itemName {
          font-weight: 400;
          margin: 0 0 12px;
          flex: 1 1 auto;
        }

        .priceBlock {
          display: flex;
          justify-content: space-between;

          .priceName {
            font-weight: 500;
            font-size: 13px;
            text-transform: uppercase;
            color: #BDBDBD;
            margin: 0 0 2px;
          }

          button {
            width: 32px;
            height: 32px;
            background: #FFFFFF;
          }
        }

        &:hover {
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.1);
          transform: translate(0, -10px);
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);

  .busket {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 420px;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      margin: 0 0 30px;
    }

    .closeBusket {
      position: absolute;
      top: 25px;
      right: 35px;
      height: 35px;
      width: 35px;
      opacity: 0.5;
      cursor: pointer;
      transition-duration: 0.2s;

      &:hover {
        opacity: 1;
      }
    }

    .busketItems {
      flex: 1 1 auto;
      overflow: auto;
      margin: 0 -30px 30px 0;
      padding: 0 30px 0 0;

      .busketItem {
        display: flex;
        padding: 17px 20px;
        border: 2px solid #F3F3F3;
        border-radius: 20px;
        margin: 0 0 20px;
        align-items: center;

        .imgBlock {
          width: 70px;
          min-height: 70px;
          object-fit: cover;
          overflow: hidden;
          margin: 0 15px 0 0;
          flex: 0 0 70px;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .body {
          flex: 1 1 auto;
          margin: 0 10px 0 0;

          .busketHeader {
            font-weight: 400;
            margin: 0 0 8px;
            font-size: 16px;
          }

          .busketPrice {
            font-size: 15px;
            letter-spacing: 0.5px;
          }
        }

        button {
          flex: 0 0 32px;
          width: 32px;
          height: 32px;
          border-radius: 8px;
          opacity: 0.5;
          transition-duration: 0.2s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .priceBlock {
      margin: 0 0 25px;

      .priceName {
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
      }

      .priceCount {
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        letter-spacing: 0.5px;
        float: right;
      }
    }

    .btnAccept {
      position: relative;
      width: 100%;
      height: 55px;
      background: #89c046;
      border-radius: 18px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #f8f8f8;
      letter-spacing: 2px;
      transition-duration: 0.15s;

      img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-40px, -50%);
        transition-duration: 0.15s;
      }

      &:hover {
        background: #70ad23;
        img {
          transform: translate(-35px, -50%);
        }
      }
      &:active {
        background: #50880a;
      }
    }
  }
}



